<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-md-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('https://source.unsplash.com/random/400x400');">
        <div class="card-description">
          <h2><%= restaurant.name %></h2>
          <p><%= restaurant.address %></p>
        </div>
        <p class="card-category"><%= restaurant.category %></p>
        <%= link_to "", restaurant_path(restaurant), class: "card-a" %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%= %>
